<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>tp_gestion_ecole_jee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>com.project.controlleur.Login</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
<servlet-name>classeEleve</servlet-name>
<servlet-class>com.project.controlleur.classeEleve</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>classeEleve</servlet-name>
  	<url-pattern>/ListeClasse</url-pattern>
  </servlet-mapping>
  
    <servlet>
<servlet-name>listeEleve</servlet-name>
<servlet-class>com.project.controlleur.listeEleve</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>listeEleve</servlet-name>
  	<url-pattern>/listeEleve</url-pattern>
  </servlet-mapping>
  
      <servlet>
<servlet-name>note</servlet-name>
<servlet-class>com.project.controlleur.note</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>note</servlet-name>
  	<url-pattern>/note</url-pattern>
  </servlet-mapping>
  
        <servlet>
<servlet-name>materiel</servlet-name>
<servlet-class>com.project.controlleur.materiel</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>materiel</servlet-name>
  	<url-pattern>/materiel</url-pattern>
  </servlet-mapping>
</web-app>