<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>tp_gestion_ecole_jee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>com.project.controlleur.Login</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Login1</servlet-name>
	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>Login1</servlet-name>
	<servlet-class>com.project.controlleur.Login</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>Index</servlet-name>
	<servlet-class>com.project.controlleur.Index</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Index</servlet-name>
	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
<servlet-name>ListeClasse</servlet-name>
<servlet-class>com.project.controlleur.ListeClasse</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>ListeClasse</servlet-name>
  	<url-pattern>/ListeClasse</url-pattern>
  </servlet-mapping>
  
    
  <servlet>
<servlet-name>AjoutClasse</servlet-name>
<servlet-class>com.project.controlleur.AjoutClasse</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>AjoutClasse</servlet-name>
  	<url-pattern>/AjoutClasse</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
<servlet-name>ListeEleve</servlet-name>
<servlet-class>com.project.controlleur.listeEleve</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>ListeEleve</servlet-name>
  	<url-pattern>/ListeEleve</url-pattern>
  </servlet-mapping>
  
      <servlet>
<servlet-name>note</servlet-name>
<servlet-class>com.project.controlleur.note</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>note</servlet-name>
  	<url-pattern>/note</url-pattern>
  </servlet-mapping>
  
        <servlet>
<servlet-name>materiel</servlet-name>
<servlet-class>com.project.controlleur.materiel</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>materiel</servlet-name>
  	<url-pattern>/materiel</url-pattern>
  </servlet-mapping>
  <servlet>
  
<servlet-name>ListeProfesseur</servlet-name>
<servlet-class>com.project.controlleur.ListeProfesseur</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>ListeProfesseur</servlet-name>
  	<url-pattern>/ListeProfesseur</url-pattern>
  </servlet-mapping>
  
    <servlet>
<servlet-name>ListePersonne</servlet-name>
<servlet-class>com.project.controlleur.ListePersonne</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>ListePersonne</servlet-name>
  	<url-pattern>/ListePersonne</url-pattern>
  </servlet-mapping>
  
  <servlet>
<servlet-name>ListeStatus</servlet-name>
<servlet-class>com.project.controlleur.ListeStatus</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>ListeStatus</servlet-name>
  	<url-pattern>/ListeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
<servlet-name>AjoutPersonne</servlet-name>
<servlet-class>com.project.controlleur.AjoutPersonne</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>AjoutPersonne</servlet-name>
  	<url-pattern>/AjoutPersonne</url-pattern>
  </servlet-mapping>
    <servlet>
<servlet-name>AjoutStatus</servlet-name>
<servlet-class>com.project.controlleur.AjoutStatus</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>AjoutStatus</servlet-name>
  	<url-pattern>/AjoutStatus</url-pattern>
  </servlet-mapping>
</web-app>